# Python
__pycache__/
*.pyc

# Environnement virtuel
.venv/
env/
venv/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Debug
game_debug.log

# Local conf
settings.json

