numpy
pandas
pettingzoo      # Standard pour les IA multi-agents
shimmy          # Compatibilité Gym/PettingZoo
pytest          # Pour tester les règles
colorama        # Pour avoir de la couleur dans le terminal (lisibilité)
